:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 0px 0px 12px 0px;
  width: 300px;
  color: red;
  margin: 0px;
  text-align: center;
  font-size: 11px;
}

.button {
  display: flex;
  justify-content: flex-end;
}

button.btn-block {
  width: 100%;

  &:hover {
    background: #ff4081;
    color: #fff;
  }
}
