.wrapper {
  text-align: center;

  mat-card.log-out.mat-card {
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
  }

  .wrap-item {
    margin: 40px;

    .d-flex {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    .list {
      width: 280px;
      min-height: 240px;
      border: 2px solid #e0e0e096;
      margin: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
      position: relative;

      .btn {
        position: absolute;
        bottom: 6px;
        right: 6px;
      }
    }
  }
}
